@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Monoton&display=swap');


/* Override default rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../Img/wallpaper_alena_velichko.jpg);
    width: 100%;
    opacity: inherit;
}

.navHaut {
    height: 200px;
    width: 100vw;

    background-image: url('../img/reseau-web.jpg');
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: cover;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    font-size: 50px;
}

.ulHaut {
    font-family: 'Bungee Spice', cursive;
    font-size: large;
    height: 100%;
    padding: 70px;
    /* delete les puce d'une liste */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

main {
    max-width: 1280px;

    min-height: 100%;

    margin: 0 auto;

    position: relative;
    background-color: lightslategray;
    border: 6px solid rebeccapurple;
}

section {

    color: rgb(252, 252, 252);
}

h2 {

    text-align: center;
    line-height: 3em;
    text-decoration: underline;

}

.moi {
    text-align: center;
    line-height: 1.5em;
}

.parcours {
    text-align: center;
}

.retour {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}

.navBas {
    height: 100px;
    width: 100vw;

    background-color: black;
    background-repeat: no-repeat;
    background-position: 0% 69%;
    background-size: cover;
}

.ulBas {
    font-family: 'Bungee Spice', cursive;
    font-size: large;
    height: 100%;
    /* delete les puce d'une liste */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    background: #ccc;
    bottom: 0;
    width: 100%;
    border-top: solid 6px rebeccapurple;
}