@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chakra+Petch&family=Monoton&family=Nabla&family=Silkscreen&display=swap');

/* Override default rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: inherit;
    background-color: #0A2611;
}

.navHaut {
    height: 100px;
    width: 100vw;
    background-image: url('../img/103797475-digital-data-and-green-network-connection-lines-for-technology-concept-on-black-background-3d-abstra.webp');
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: cover;
    box-shadow: #b3f40f 0px 0px 10px;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    color: #2D7345;
    text-decoration: underline #2D7345;
    text-align: center;
    font-size: 50px;
}

.ulHaut {
    font-family: 'Bungee Spice', cursive;
    font-size: large;
    height: 100%;
    /* delete les puce d'une liste */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

section {
    font-size: 1.3em;
    color: #9CA69D;
}

h2 {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    color: #225935;
    line-height: 3em;
    text-decoration: underline #014023;
}

.moi {
    text-align: justify;
    line-height: 1.5em;
    padding: 30px;
}

.parcours {
    text-align: center;
}

.retour {
    font-family: 'Chakra Petch', sans-serif;
    color: #02734A;
    text-align: center;
    font-size: x-large;


}

.navBas {
    height: 100px;
    width: 100vw;

    background-color: black;
    background-repeat: no-repeat;
    background-position: 0% 69%;
    background-size: cover;
}

.ulBas {
    font-family: 'Bungee Spice', cursive;
    font-size: large;
    height: 100%;
    /* delete les puce d'une liste */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    bottom: 0;
    width: 100%;
    box-shadow: #b3f40f 0px 0px 10px;
}